* {
    margin: 0;
    padding: 0;
}
body {
    height: 40rem;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Corrected alignment */
    background-color: brown;
}
.step {
    height: 80px;
    width: 80px;
    background-color: brown;
    border-radius: 0px 10px 0px 0px;
}
#step1 {
    transform: translateX(0px);
}
#step2 {
    transform: translateX(80px);
}
#step3 {
    transform: translateX(160px);
}
#step4 {
    transform: translateX(240px);
}
#step5 {
    transform: translateX(320px);
}
#ball {
    height: 50px;
    width: 50px;
    background: yellow;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 60px 10px rgb(255, 217, 0);
    filter: blur(0.5px) drop-shadow(0px 0px 10px red);
    visibility: hidden;
}

@keyframes ball {
    0% {
        transform: translate(-50px, 0px);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: yellow;
        box-shadow: 0px 0px 60px 10px rgb(255, 217, 0);
    }
    8% {
        transform: translate(20px, 0px);
        height: 50px;
        width: 50px;
    }
    16% {
        transform: translate(20px, -50px);
        height: 50px;
        width: 35px;
        background: yellow;
        box-shadow: 0px 0px 60px 10px rgb(255, 217, 0);
        
    }
    20% {
        transform: translate(20px, 0px);
        height: 35px;
        width: 50px;
        background: rgb(68, 255, 255);
        box-shadow: 0px 0px 60px 10px rgb(68, 255, 255);
    }
    28% {
        transform: translate(20px, -50px);
        height: 50px;
        width: 35px;
        
        background: rgb(68, 255, 255);
        box-shadow: 0px 0px 60px 10px rgb(68, 255, 255);
    }
    32% {
        transform: translate(20px, 0px);
        height: 35px;
        width: 50px;
        background: rgb(30, 255, 0);
        box-shadow: 0px 0px 60px 10px rgb(30, 255, 0);
    }
    36% {
        transform: translate(60px, -20px);
        height: 50px;
        width: 35px;
        background: rgb(30, 255, 0);
        box-shadow: 0px 0px 60px 10px rgb(30, 255, 0);
    }
    44% {
        transform: translate(120px, 80px);
        height: 35px;
        width: 50px;
        background: rgb(16, 136, 0);
        box-shadow: 0px 0px 60px 10px rgb(16, 136, 0);
    }
    48% {
        transform: translate(80px, 60px);
        height: 35px;
        width: 50px;
        background: rgb(255, 80, 167);
        box-shadow: 0px 0px 60px 10px rgb(255, 80, 167);
    }
    50% {
        transform: translate(100px, 80px);
        height: 50px;
        width: 35px;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 60px 10px rgb(255, 255, 255);
    }
    56% {
        transform: translate(150px, 70px);
        height: 35px;
        width: 50px;
        background: rgb(130, 96, 255);
        box-shadow: 0px 0px 60px 10px rgb(130, 96, 255);
    }
    64% {
        transform: translate(190px, 160px);
        height: 50px;
        width: 35px;
        background: rgb(255, 86, 86);
        box-shadow: 0px 0px 60px 10px rgb(255, 86, 86);
    }
    72% {
        transform: translate(240px, 150px);
        height: 35px;
        width: 50px;
        background: rgb(216, 0, 90);
        box-shadow: 0px 0px 60px 10px rgb(216, 0, 90);
    }
    76% {
        transform: translate(280px, 240px);
        height: 35px;
        width: 50px;
        background: rgb(0, 216, 162);
        box-shadow: 0px 0px 60px 10px rgb(0, 216, 162);
    }
    80% {
        transform: translate(320px, 220px);
        height: 50px;
        width: 35px;
        background: rgb(0, 216, 162);
        box-shadow: 0px 0px 60px 10px rgb(0, 216, 162);
    }
    84% {
        transform: translate(360px, 320px);
        height: 35px;
        width: 50px;
        background: rgb(255, 115, 0);
        box-shadow: 0px 0px 60px 10px rgb(255, 115, 0);
    }
    92% {
        transform: translate(420px, 250px);
        height: 50px;
        width: 30px;
        background: rgb(255, 115, 0);
        box-shadow: 0px 0px 60px 10px rgb(255, 115, 0);
    }
    100% {
        transform: translate(460px, 800px);
        height: 50px;
        width: 30px;
        background: rgb(255, 115, 0);
        box-shadow: 0px 0px 60px 10px rgb(255, 115, 0);
    }
}

#btn{
    padding: 10px;
    border: 2px solid rgb(139, 23, 23);
    border-radius: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(139, 23, 23);
    background-color: rgb(167, 57, 57);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#btn:hover{
    text-shadow: -0.5px 0.5px 2px rgb(0, 0, 0);
    transform: translate(calc(-50% + -4px) , calc(-50% + -4px));
    filter: drop-shadow(4px 4px 1px rgb(167, 57, 57));
}